@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.font {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;

  margin: 0 auto;
}
main {
  max-width: 1600px;
  background-color: #f5f5f5;
  height: 3390px;
  margin-bottom: 80px;
}

* {
  margin: 0;
  padding: 0;
}
.explore {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgb(196, 230, 214);
  max-height: 560px;
  margin: 0px 80px 80px 80px;
  padding: 80px 50px;
  gap: 30px;
  border-radius: 24px;
}
.explore_inside_1 .Bangladesh,
.idea {
  margin-bottom: 16px;
}
.explore_inside_1 {
  padding: auto 100px;
}

.Bangladesh {
  color: rgba(14, 14, 14, 0.5);
  font-size: 24px;
  font-weight: 500;
}

.idea {
  color: rgb(14, 14, 14);
  font-size: 50px;
  font-weight: 700;
}
.btn {
  border-radius: 8px;
  background: rgb(4, 122, 92);
  padding: 17px 34px 17px 34px;
  color: white;
  font-weight: 300;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  border: none;
}
.btn:hover {
  background-color: rgb(228, 22, 22);
  color: #ffffff;
}

.vision {
  margin-top: 80px;
  max-height: 560px;
  margin: 0px 80px 80px 80px;
}
.vision .vision_title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.main_card {
  display: flex;

  margin-top: 32px;
  gap: 12px;
}

.card {
  padding: 30px;
}
.clr1 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgba(84, 144, 245, 0.2);
}

.clr2 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(198, 228, 214);
}

.clr3 {
  box-sizing: border-box;
  border-radius: 16px;
  background: rgb(247, 235, 207);
}

.card .card_img {
  margin-bottom: 16px;
}
.card .card_title {
  margin-bottom: 10px;
}
.card .card_description {
  margin-bottom: 30px;
}

.btn1 {
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  border: none;
  color: white;
  font-weight: 300;
  font-family: "Fira Sans", serif;
  font-weight: 600;}

  .btn_blue{
   background: rgb(84, 144, 245);

  }
  .btn_green{
    background: rgb(9, 161, 92);
  }
.btn_yellow{
  background: rgb(255, 194, 57);
}
 .btn1:hover {
  background-color: rgb(228, 22, 22);
  color: #ffffff;
}

.quote_section {
  margin-top: 80px;
  max-height: 560px;
  margin: 0px 80px 80px 80px;
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 24px 24px 30px 26px;

}

.quote_section .quotation_tag {
  margin-bottom: 16px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: 400;
  font-size: 16px;
}
.quote_section .quotation_tag1 {
  margin-bottom: 16px;
  color: rgba(14, 14, 14, 0.8);
  font-weight: 400;
  font-size: 16px;
}
.quote_section h5{
  padding-left: 1px;
  color: rgba(14, 14, 14, 0.8);
}
.quote_section  {
  font: Fira Sans;
  font-weight: 600;
  font-size: 20px;
 
}
.quotation_tag {
  background-image: url("assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: top left;
  background-size: 45px 45px;
  padding-left: 1px;
  padding-top: 17px;
}

.recent_news {
 
  margin: 0px 80px 80px 80px;
}
.section_description {
  margin-bottom: 30px;
}
.section_title {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 24px;
}

.news_card1 {
  display: flex;
  align-items: center;
  background: rgb(169, 19, 19);
  box-sizing: border-box;
  border-radius: 24px;
  background: rgb(249, 253, 254);
  margin-bottom: 20px;
  gap: 25px;
  padding: 48px;
}
.news_card2 {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  border-radius: 24px;
  background: rgb(249, 253, 254);
  gap: 25px;
  padding: 48px;
  margin-bottom: 80px;
}
.btn2 {
  border-radius: 8px;
  padding: 11px 20px 11px 20px;
  border: none;
  color: white;
  font-weight: 300;
  font-family: "Fira Sans", serif;
  font-weight: 600;}

  .btn2:hover {
    background-color: rgb(228, 22, 22);
    color: #ffffff;
}
.news_img {
  border-radius: 24px;
}
.satellite_title, .al-jazeera,.News_date,
.satellite_description {
margin-bottom: 10px;
  text-align: left;
}

.donate_for_bangladesh p,
.donate_title,
.donate_card {
  text-align: center;
  margin-bottom: 10px;
}
.donate_for_bangladesh {
  width: 1071px;
  margin: 0 auto;
}
.donate_card {
  display: flex;
  max-height: 560px;
  justify-content: center;
  width: 1071px;
  gap: 40px;
}
.donate_card1 {
  box-sizing: border-box;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  padding: 40px;
  font-size: 30px;
  font-weight: 700;
}
.donate_title {
  font-weight: 700;
  font-size: 40px;
}
.clr {
  background: rgb(198, 228, 214);
}

.clr9:hover {
  background: rgb(198, 228, 214);
  color: #ff0000;
}

.input_field {
  width: 900px;
  height: 64px;
  margin: 10px 90px;
  box-sizing: border-box;
  background: rgb(255, 255, 255);
  padding: 20px 40px;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  border: none;
}

.btn_primary {
  margin-top: 20px;
  font-weight: 400;
  font-size: 20px;
}
.donate_btn {
  text-align: center;
}

.dbtn {
  border-radius: 8px;
  background: rgb(4, 122, 92);
  padding: 13px 22px 13px 22px;
  color: white;
  font-weight: 300;
  font-family: "Fira Sans", serif;
  font-weight: 600;
  border: none;
  margin-bottom: 80px;
}
.dbtn:hover {
  background-color: rgb(228, 22, 22);
  color: #ffffff;
}
.news_letter {
  text-align: center;
 
  margin: 0px 80px 80px 80px;
  border-radius: 24px;
  background: rgb(198, 228, 214);
  padding: 60px 80px;
  margin-bottom: 80px;
}

.news_letter_title,
.news_letter_description,
.news_letter_input {
  margin-bottom: 15px;
}
.news_letter_description2,
.news_letter_description {
  text-align: center;
  color: rgba(14, 14, 14, 0.7);
}

.news_letter_title {
  font-weight: 700;
  font-size: 40px;
}
.news_letter_input {
  border-radius: 8px 0px 0px 8px;
  background: rgb(255, 255, 255);
  width: 600px;
  padding: 18px 40px 18px 40px;
  border: none;
}

.news_letter_btn {
  background: rgb(4, 122, 92);
  padding: 17px 24px 18px 24px;
  color: rgb(255, 255, 255);
  font-weight: 600;
  font-size: 14px;
  border-radius: 0px 8px 8px 0px;
  margin-left: -4px;
  border: none;
}
.news_letter_btn:hover {
  background-color: rgb(228, 22, 22);
  color: #ffffff;
}
footer{

  text-align: center;
  width: 1071px;
  margin: 0 auto;
  
}
footer .asset , .bd , hr{
  margin-bottom: 25px;
}
.bd{
font-size: 32px;
font-weight: 700;
}
.bd{
  margin-top: 80px;
}
footer .asset{

    display: flex;
    gap: 30px;
    justify-content: center;
    margin-bottom: 30px;

}